<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491750900196-56a1s32ou58av500bn3oj4q5l640olqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491750900196-56a1s32ou58av500bn3oj4q5l640olqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDpx_uNXKcQPYuFv2_flX-IPkDZkUsAneE</string>
	<key>GCM_SENDER_ID</key>
	<string>491750900196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Afonso.helpU</string>
	<key>PROJECT_ID</key>
	<string>helpu-80a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>helpu-80a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491750900196:ios:0417f24714d594d74707f1</string>
</dict>
</plist>